#!/bin/sh
#
# $OpenBSD$

daemon="${MODPY_BIN} ${TRUEPREFIX}/bin/google_metadata_script_runner"
daemon_flags="--script-type=startup"

. /etc/rc.d/rc.subr

rc_reload=NO

_CHECK=1
rc_start() {
	${rcexec} "${daemon} ${daemon_flags}"
	_CHECK=0
}

rc_check() {
	return ${_CHECK}
}

rc_cmd $1
