#!/bin/sh
#
# $OpenBSD$

daemon="${MODPY_BIN} ${TRUEPREFIX}/bin/google_metadata_script_runner"
daemon_flags="--script-type=shutdown"

. /etc/rc.d/rc.subr

rc_start() {
	return 0
}

_CHECK=0
rc_check() {
	return ${_CHECK}
}

rc_stop() {
	${rcexec} "${daemon} ${daemon_flags}"
	_CHECK=1
}

rc_reload=NO

rc_cmd $1
