#!/bin/sh
#
# $OpenBSD: google_network_setup.rc,v 1.10 2016/06/10 21:14:37 ajacoutot Exp $

daemon="${MODPY_BIN} ${TRUEPREFIX}/bin/google_network_setup"

. /etc/rc.d/rc.subr

_CHECK=1
rc_start() {
        ${rcexec} "${daemon} ${daemon_flags} ${_bg}"
        _CHECK=0
}

rc_check() {
        return ${_CHECK}
}

rc_reload=NO

rc_cmd $1
