#!/bin/sh
#
# $OpenBSD$

daemon="${MODPY_BIN} ${TRUEPREFIX}/bin/google_network_setup"

. /etc/rc.d/rc.subr

_CHECK=1
rc_start() {
	${rcexec} "${daemon} ${daemon_flags}"
	_CHECK=0
}

rc_check() {
	return ${_CHECK}
}

rc_reload=NO

rc_cmd $1
